.contact {
    font-size: large;

    font-family: fantasy;
    width: 80%;
    margin: auto;
    text-align: center;
}
.titre {
    font-family: fantasy;
    font-weight: bolder;
    color: #166534;
    display: flex;
    justify-content:center;
    margin-top: 2%;
    margin-bottom: 2%;
}
#container p {
    font-family: fantasy;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.form {
    padding: 40px 50px 45px;
    font-size: medium;
    font-family: fantasy;
}

.form-control {
    border: 1px solid rgb(187, 182, 182);
    box-shadow: 5px 2px 2px lightgray;
    width: 30%;
}
.label {
    font-size: 15px;
}
#btn {
    background-color: rgb(238, 236, 236);
    border: 1px solid lightgray;
    box-shadow: 5px 2px 2px lightgray;
    padding: 4px;
}
.div {
    padding: 20px;
}
.oblig {
    color: red;
}
.textarea {
    border: 1px solid rgb(187, 182, 182);
    box-shadow: 5px 2px 2px lightgray;
    width: 100%;
}

.titreH2 {
    font-weight: bold;
    font-family: fantasy;
    color: #166534;
}
.container{
    padding: 40px 50px 45px;
}

/* css page panier 5 */




